HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# Ignore Node.js heavy folders
**/node_modules/
**/build/
**/dist/

# Ignore Java build folders
**/target/
**/.mvn/
**/mvnw
**/mvnw.cmd

# Ignore Environment Configs (Security)
**/.env

# Ignore Nginx binaries (Windows only)
**/nginx-dist/
**/nginx-config/